{% extends 'base.html' %}
{% block title %}Adisia{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category_detail' bid.category.id %}">{{ bid.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ bid.title }}</li>
    </ol>
</nav>

<div class="manage-wrap">
    <div class="d-flex">
        <div class="">
            {% if request.user.is_superuser or request.user.is_advertiser %}
            <a class="btn btn-sm btn-light" href="{% url 'edit_bid' bid.slug %}">
                <i class="fas fa-pencil-alt"></i> Edit Bid
            </a>
            <a class="btn btn-sm btn-primary" href="{% url 'upload_file_view' bid.slug %}"><i class="fas fa-plus"></i>
                Upload File
            </a>
            <a class="btn btn-sm btn-primary" href="{% url 'upload_video' bid.slug %}"><i class="fas fa-plus"></i>
                Upload Video
            </a>

            {% endif %}
        </div>
        <div class="ms-auto">
            {% if user.is_authenticated and user == bid.creator %}
                {% if allocation and not allocation.is_overdue %}
                    <form method="post" action="{% url 'allocate_bid' bid.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Deallocate Bid</button>
                    </form>
                {% else %}
                    <a href="{% url 'allocate_bid' bid.slug %}" class="btn btn-success">Allocate Bid</a>
                {% endif %}
            {% endif %}
        </div>
        
    </div>
</div>

<div class="title-1">{{ bid.title }}</div>
<p class="small text-muted">{{ bid.summary }}</p>

{% include 'snippets/messages.html' %}

<div class="container">

    <div class="row mb-5">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">Specifications</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Video Title</th>
                            <th>Uploaded Date</th>
                            <th>Get Started</th>
                            {% if request.user.is_superuser or request.user.is_advertiser %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{{ video.get_absolute_url }}" title="{{ video }}" class="d-flex align-items-center">
                                    <i class="fas fa-video me-1"></i> {{ video.title|title }}
                                </a>
                            </td>
                            <td>{{ video.timestamp|date }}</td>
                            <th>
                                <div>
                                    <a class="download-btn" href="{{ video.get_absolute_url }}"
                                        title="Download to your device">
                                        <i class="fas fa-play me-1"></i>Play now</a>
                                </div>
                            </th>

                            {% if request.user.is_superuser or request.user.is_advertiser %}
                            <td>
                                <div class="update-delete">
                                    <a href="{% url 'upload_video_edit' slug=bid.slug video_slug=video.slug %}"
                                        class="update" title="Edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'upload_video_delete' slug=bid.slug video_slug=video.slug %}"
                                        class="delete" title="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="text-danger">
                                    No video uploaded.
                                    {% if request.user.is_superuser or request.user.is_advertiser %}
                                    <a href="{% url 'upload_video' bid.slug %}">
                                        <i class="primary" style="font-size: 22px;">
                                            Upload now.
                                        </i>
                                        {% endif %}
                                    </a>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">Documents</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File Name</th>
                            <th>Uploaded Date</th>
                            <th>Updated Date</th>
                            <th>Downloads</th>
                            {% if request.user.is_superuser or request.user.is_advertiser %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ file.file.url }}" title="{{ file }}" class="d-flex align-items-center">
                                    <i class="fas fa-file-{{ file.get_extension_short }} me-1"></i>
                                    {{ file.title|title }}
                                </a>
                            </td>
                            <td>{{ file.upload_time|date }}</td>
                            <td>{{ file.updated_date|date }}</td>
                            <th>
                                <div>
                                    <a class="download-btn" href="{{ file.file.url }}" title="Download to your device">
                                        <i class="fas fa-download me-1"></i>Download</a>
                                </div>
                            </th>

                            {% if request.user.is_superuser or request.user.is_advertiser %}
                            <td>
                                <div class="update-delete">
                                    <a href="{% url 'upload_file_edit' slug=bid.slug file_id=file.pk %}"
                                        class="update" title="Edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'upload_file_delete' slug=bid.slug file_id=file.pk %}"
                                        class="delete" title="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="text-danger">
                                    No files uploaded.
                                    {% if request.user.is_superuser or request.user.is_advertiser %}
                                    <a href="{% url 'upload_file_view' bid.slug %}">
                                        <i class="primary" style="font-size: 22px;">
                                            Upload now.
                                        </i>
                                        {% endif %}
                                    </a>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="site-section mb-5 mt-4">
    <div class="title-1">Content Creators</div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            {% for creator in content_creators %}
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        {% if creator.picture %}
                        <img class="avatar avatar-lg" src="{{ creator.picture.url }}" alt="">
                        {% endif %}
                        <h5 class="fw-bold mb-0">{{ creator|title }}</h5>
                        <p class="mb-0">{{ creator.email }}</p>
                        <p class="text-muted small">Expert in their field with relevant experience.</p>
                        <p>
                            <a class="btn btn-sm btn-secondary" href="#" role="button"><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm btn-secondary" href="#" role="button"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm btn-secondary" href="#" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </p>
                    </div>
                </div>
            </div>


            {% empty %}
            <h6 class="text-muted mt-3">No content creators assigned for this bid</h6>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}
