{% extends 'base.html' %}
{% block title %} {{ title }} | Adisia{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ category.title }}</li>
    </ol>
</nav>

{% if request.user.is_advertiser %}  <!-- Adjusted for advertisers -->
<div class="manage-wrap">
    <a class="btn btn-sm btn-primary" href="{% url 'bid_add' pk=category.pk %}"><i class="fas fa-plus"></i>Add Bid</a>
</div>
{% endif %}

{% if category %}
<div class="title-1">{{ category.title }}</div>
{% if category.summary %}
<p>{{ category.summary }}</p>
{% endif %}
{% endif %}

{% include 'snippets/messages.html' %}
{% include 'snippets/filter_form.html' %}

<div class="table-responsive p-0 px-2 mt-5">
    <div class="table-shadow">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bid Name</th>
                    <th>Bid Code</th>
                    <th>Current Status</th>
                    {% if request.user.is_advertiser %}  <!-- Adjusted for advertisers -->
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for bid in bids %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td><a href="{{ bid.get_absolute_url }}">
                            {{ bid.title }} ({{ bid.creator }})</a></td>  <!-- Changed course to bid -->
                    <td>{{ bid.code }}</td>
                    <th>
                        {% if not bid.is_current_semester %}
                        <i class="fas fa-times-circle fa-1-5x danger"></i>
                        {% elif bid.is_current_semester %}
                        <i class="fas fa-check-circle fa-1-5x"></i>
                        {% endif %}
                    </th>
                    {% if request.user.is_advertiser %}  <!-- Adjusted for advertisers -->
                    <td>
                        <div class="dropstart">
                            <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" 
                            data-bs-boundary="window" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v m-0"></i>
                            </button>
                            <div class="dropdown-menu position-fixed">
                                <a class="dropdown-item" href="{% url 'edit_bid' slug=bid.slug %}">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </a>
                                <a class="dropdown-item" href="{% url 'delete_bid' slug=bid.slug %}">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">
                  <span class="text-danger">
                    No bids available for this category.
                    {% if request.user.is_advertiser %}  <!-- Adjusted for advertisers -->
                    <a href="{% url 'add_bid' pk=category.pk %}">
                    <i class="primary" style="font-size: 22px;">
                       Add one now.
                    </i>
                    {% endif %}
                    </a>
                  </span>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if bids.paginator.page_range|length > 1 %}
<div class="content-center">
    <div class="pagination">
        <a href="?page=1">&laquo;</a>
        {% for i in bids.paginator.page_range %}
        {% if i == bids.number %}
        
        <a class="pagination-active" href="?page={{ i }}"><b>{{ i }}</b></a>
        {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
        <a href="?page={{ bids.paginator.num_pages }}">&raquo;</a>
    </div>
</div>
{% endif %}

{% endblock content %}
