{% extends 'registration/registration_base.html' %}
{% block title %}Adisia - Sign In{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-4 mx-auto mt-5">
  <div class="card">
    <div class="form-title">
      <i class="fas fa-lock me-2"></i>
      Welcome to Adisia
    </div>
    <div class="card-body">
        <form action="" method="POST" id="login-form">
          
          {% csrf_token %}
          <div class="form-group mb-3">
              <label class="mb-2" for="username_id"><i class="fas fa-address-card me-2"></i>Username</label>
              <input type="text" name="username" id="username_id" class="form-control" required>
              <div id="message-wrapper"></div>
          </div>
          <div class="form-group mb-3">
              <label class="mb-2" for="password_id"><i class="fas fa-key me-2"></i>Password</label>
              <input type="password" name="password" id="password_id" class="form-control" required>
          </div>
          {% if form.errors %}
                <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Invalid Username or Password.</span><br>
          {% endif %}
      
          <button type="submit" class="btn btn-primary w-100" id="login-btn"><i class="fas fa-sign-in-alt"></i> Sign In</button>
        </form>
        <br>
        <div class="login-bottom">
          <a href="{% url 'password_reset' %}" class="link">Forgot password?</a>
        </div>
        <br>
        <!-- Links for new users to register as content creators or advertisers -->
        <div class="registration-options text-center">
          <p>New to Adisia?</p>
          <a href="{% url 'register_content_creator' %}" class="btn btn-outline-primary btn-sm">Join as Content Creator</a>
          <a href="{% url 'register_advertiser' %}" class="btn btn-outline-secondary btn-sm">Join as Advertiser</a>
        </div>
      </div>
  </div>
</div>
{% endblock content %}

{% block js %}

<script>
  $('#login-form').submit(function (e) {
    $('#login-btn').addClass('disabled');
    $('#login-btn').html(`<i class="fas fa-sign-in-alt"></i> Signing you in . . .`);
  });

  $("#username_id").on("input", function () {
    let username = $(this).val();

    $.ajax({
      url: "/accounts/ajax/validate-username/",
      data: {
        username: username
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          $('#message-wrapper').html(`<p class="my-2 text-danger"><span class="bg-error p-2"><b>${username}</b> is already taken, please choose another.</span></p>`);
        } else {
          $('#message-wrapper').html(`<p class="my-2 text-success"><span class="bg-correct p-2"><b>${username}</b> is available!</span></p>`);
        }
      }
    });
  });
</script>
{% endblock js %}
